<!DOCTYPE html>
<html lang="es" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="language" content="es">
    <title>Welcome Fluxer 1.0 (Flux2.0 + Docker)</title>
    <meta name="title" content="Welcome Fluxer 1.0 (Flux2.0 + Docker)">
    <meta name="description" content="">
    <meta name="author" content="FrontEnd Labs">
    <meta name="DC.Title" content="Welcome Fluxer 1.0 (Flux2.0 + Docker)">
    <meta name="DC.Contributor" content="myPage.com">
    <meta name="DC.Creator" content="myPage.com">
    <meta name="DC.Description" content="">
    <meta name="DC.Language" content="es">
    <meta name="DC.Publisher" content="Publisher">
    <meta name="geo.placename" content="Cercado de Lima">
    <meta name="geo.position" content="-12.0478;-77.0622">
    <meta name="geo.region" content="PE-LIM">
    <meta name="ICBM" content="-12.0478, -77.0622">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="robots" content="index,follow">
    <meta name="keywords" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="/img/logo_fb.png?1445973542620">
    <meta property="og:image:height" content="250">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="250">
    <meta property="og:site_name" content="Name of page">
    <meta property="og:title" content="myPage.com">
    <meta property="og:type" content="/">
    <meta property="og:url" content="/">
    <link href="/css/layout/fonts.css?1445973542620" media="all" rel="stylesheet" type="text/css">
    <link href="/css/layout/layout.css?1445973542620" media="all" rel="stylesheet" type="text/css">
    <link href="/css/views/default.css?1445973542620" media="all" rel="stylesheet" type="text/css">
    <link href="/images/favicon.ico?1445973542620" rel="icon" type="image/vnd.microsoft.icon">
    <link href="/images/favicon.ico?1445973542620" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href="/images/favicon.ico?1445973542620" rel="shortcut icon" type="image/x-icon">
    <link href="/img/logo_fb.png?1445973542620" rel="image_src" type="image/jpeg">
    <link href="http://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet" type="text/css"><!--[if lte IE 9]>
    <link href="/css/ie/ie.css?1445973542620" media="all" rel="stylesheet" type="text/css">
    <script src="/js/thirdPartyLibs/selectivizr/selectivizr.js?1445973542620"></script>
    <script src="/js/thirdPartyLibs/html5shiv/dist/html5shiv.min.js?1445973542620"></script><![endif]-->
  </head>
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-111111', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>
  <body>
    <header></header>
    <footer></footer>
    <script src="/js/thirdPartyLibs/jquery/dist/jquery.min.js?1445973542620" type="text/javascript"></script>
    <script src="/js/libs/utils.js?1445973542620" type="text/javascript"></script>
    <script src="/js/sections/home/home.js?1445973542620" type="text/javascript"></script>
  </body>
</html>